%div{id: dom_id(flight), class: "flight-card"}
  %p
    %strong Dep airport:
    = flight.dep_airport
  %p
    %strong Arr airport:
    = flight.arr_airport
  %p
    %strong Dep time:
    = flight.dep_time
  %p
    %strong Duration:
    = flight.duration

