%h1 
    Sophie Harron – Flight Booker Project

%section.instructions
  %h2 
    Use Instructions

  %ol
    %li Select **Search** in the navigation bar to begin.
    %li Choose departure, arrival, time, and number of passengers, then click **Search** to refine flights.
    %li Selecting the number of passengers and clicking search is crucial for displaying the nested forms feature.
    %li Enter passenger details and press **Book**.
    %li Review your booking information on the confirmation page.



